{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CirrusTube</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style type="text/css">

    </style>
</head>
<body>
<div class="container">
    <header>
        <h1>CirrusTube</h1>
        <p>Backblaze B2 Video Sharing Example</p>
        <hr>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</div>
</body>
</html>
