{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if object.transcoded %}
    <h2>Watch Your Video</h2>

    <p>{{ object.title }}</p>

    <video width="640" height="360" controls>
      <source src="{{ object.transcoded.url }}" type="video/mp4">
    </video>
  {% else %}
    <h2>Please wait while your video is processed</h2>

    <img id="throbber" src="{% static 'images/throbber.gif' %}">

    <script>
      async function pollForTranscoded(name) {
        console.log(`Polling for ${name}`)
        const response = await fetch(`/documents/${name}`)
          .then(response => {
            if (response.ok) {
              return response.json();           
            }
          });

        if (response?.transcoded) {
          location.reload();
        }
      }

      async function handleLoad(event) {
        const name = location.pathname.split('/').pop();
        setInterval(pollForTranscoded, 1000, name);
      }

      window.onload = handleLoad;
    </script>
  {% endif %}

{% endblock %}