{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="/upload/">Upload a video</a>
        / <a href="{% url 'logout' %}">Log out</a>
        <!-- 'Delete all' is useful for testing! -->
        <!-- / <a href="/videos/delete_all">Delete all</a> -->
    {% else %}
        <a href="{% url 'login' %}">Log in</a>
    {% endif %}
    <hr>

    <div id="grid">
        {% for video in videos %}
            {% if video.transcoded and video.thumbnail %}
                <div>
                    <a href="/videos/{{ video.raw.name }}">
                        <img src="{{ video.thumbnail.url }}"><br>
                    </a>
                    <b>{{ video.title }}</b><br>
                    {{ video.user.username }}<br>
                    {{ video.uploaded_at }}
                </div>
            {% endif %}
            {% empty %}
            <div>
                {% if user.is_authenticated %}
                    <p>No videos - why not <a href="/upload/">upload</a> one?</p>
                {%  else  %}
                    <p>No videos - <a href="{% url 'login' %}">log in</a> and upload one!</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
